{"filter":false,"title":".rspec","tooltip":"/.rspec","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":8},"end":{"row":1,"column":8},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1416496864297,"hash":"1faeab75bdcd636d9aeac6fb732df87ecf6ca876"}